/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

@font-face {
  font-family: "Proxima Nova Light";
  src: url("/assets/proxima_nova_light.otf"); }

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Proxima Nova Light'; }

a, a:visited {
  color: #444; }

header.main {
  margin: 0;
  padding: 0;
  background: #F2F3F5;
  -moz-box-shadow: 0px 1px 0px 0px #DEDEE4;
  -webkit-box-shadow: 0px 1px 0px 0px #DEDEE4;
  box-shadow: 0px 1px 0px 0px #DEDEE4;
  height: 85px;
  position: relative; }
  header.main figure {
    width: 50px;
    margin: 0px auto;
    padding-top: 20px;
    height: 65px; }
  header.main .anchor {
    background-image: url("/assets/logo.png");
    background-repeat: no-repeat;
    background-position: center; }
  header.main a.articles {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: 60px;
    margin-top: 35px;
    width: 58px;
    text-decoration: none; }
  header.main a.about {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -100px;
    margin-top: 35px;
    width: 58px;
    text-decoration: none; }
  header.main a.about:hover {
    cursor: not-allowed; }

section.main {
  width: 650px;
  margin: 0px auto;
  font-size: 18px;
  line-height: 150%;
  color: #444; }
  section.main h1 {
    display: inline-block;
    color: #222;
    margin-top: 80px;
    margin-bottom: -4px;
    font-size: 40px;
    font-weight: normal;
    margin-left: -5px;
    line-height: 100%; }
  section.main time {
    display: block;
    font-size: 13px;
    color: #888; }
  section.main p {
    display: inline-block;
    margin-bottom: 5px; }
  section.main ul.tracklist {
    list-style-type: none;
    padding: 0; }
    section.main ul.tracklist li {
      position: relative; }
    section.main ul.tracklist li strong {
      font-size: 18px;
      font-family: 'Helvetica Neue';
      font-weight: bold;
      display: block;
      width: 535px; }
      section.main ul.tracklist li strong a {
        color: #444;
        text-decoration: none; }
      section.main ul.tracklist li strong a:hover {
        text-decoration: underline; }
    section.main ul.tracklist li em {
      font-size: 16px;
      display: inline-block;
      clear: left;
      width: 550px;
      margin-bottom: 15px; }
      section.main ul.tracklist li em a {
        color: #444;
        text-decoration: none; }
      section.main ul.tracklist li em a:hover {
        text-decoration: underline; }
    section.main ul.tracklist li .links {
      position: absolute;
      top: 0;
      right: 0; }
      section.main ul.tracklist li .links a {
        display: inline-block;
        margin-left: 4px;
        padding-top: 25px;
        width: 50px;
        text-align: center;
        font-size: 14px;
        text-decoration: none; }
      section.main ul.tracklist li .links .video {
        background-image: url("/assets/play.png");
        background-repeat: no-repeat;
        background-size: 28px;
        background-position: top center; }
      section.main ul.tracklist li .links .slides {
        background-image: url("/assets/slides.png");
        background-repeat: no-repeat;
        background-size: 30px;
        background-position: top center; }
      section.main ul.tracklist li .links .disabled:hover {
        cursor: not-allowed; }
