<!DOCTYPE html>
<html ng-app="Blog">
  <head>
    <title>Joseph Jaber</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body data-ng-view="">
    <header class="main">
      <a class="about" href="#">About</a>
      <figure class="anchor"></figure>
      <a class="articles" href="/">Articles</a>
    </header>
    <section class="main">
      <article class="blog">
        <h1>RailsConf 2013 Talks</h1>
        <time datetime="2013-05-05">May 5th 2013</time>
        <ul class="tracklist">
          <li>
            <strong><a href="http://www.justin.tv/confreaks/c/2246896">Patterns of Basecamp's Application Architecture</a></strong>
            <em>by <a href="https://twitter.com/dhh">David Heinemeier Hansson</a></em>
            <div class="links">
              <a class="video" href="http://www.justin.tv/confreaks/c/2246896">Video</a>
              <a class="slides disabled" href="#" title="Slides Not Available">Slides</a>
            </div>
          </li>
          <li>
            <strong><a href="http://www.justin.tv/confreaks/c/2246947">Embrace JavaScript</a></strong>
            <em>by <a href="https://twitter.com/wycats">Yehuda Katz</a></em>
            <div class="links">
              <a class="video" href="http://www.justin.tv/confreaks/c/2246947">Video</a>
              <a class="slides disabled" href="#" title="Slides Not Available">Slides</a>
            </div>
          </li>
          <li>
            <strong><a href="http://www.justin.tv/confreaks/c/2247099">Rails Vs. The Client Side</a></strong>
            <em>by <a href="https://twitter.com/noelrap">Noel Rappin</a></em>
            <div class="links">
              <a class="video" href="http://www.justin.tv/confreaks/c/2247099">Video</a>
              <a class="slides" href="https://speakerdeck.com/noelrap/rails-vs-the-client">Slides</a>
            </div>
          </li>
          <li>
            <strong><a href="http://www.justin.tv/confreaks/c/2247122">The Magic Tricks of Testing</a></strong>
            <em>by <a href="https://twitter.com/sandimetz">Sandi Metz</a></em>
            <div class="links">
              <a class="video" href="http://www.justin.tv/confreaks/c/2247122">Video</a>
              <a class="slides" href="https://speakerdeck.com/skmetz/magic-tricks-of-testing-railsconf">Slides</a>
            </div>
          </li>
          <li>
            <strong><a href="http://www.justin.tv/confreaks/c/2249571">From Rails to the Web Server to the Browser</a></strong>
            <em>by <a href="https://twitter.com/dabit">David Padilla</a></em>
            <div class="links">
              <a class="video" href="http://www.justin.tv/confreaks/c/2249571">Video</a>
              <a class="slides" href="https://speakerdeck.com/dabit/from-rails-to-the-webserver-to-the-browser">Slides</a>
            </div>
          </li>
          <li>
            <strong><a href="http://www.justin.tv/confreaks/c/2249588">An Intervention for ActiveRecord</a></strong>
            <em>by <a href="https://twitter.com/erniemiller">Ernie Miller</a></em>
            <div class="links">
              <a class="video" href="http://www.justin.tv/confreaks/c/2249588">Video</a>
              <a class="slides" href="https://speakerdeck.com/erniemiller/an-intervention-for-activerecord">Slides</a>
            </div>
          </li>
          <li>
            <strong><a href="http://www.justin.tv/confreaks/c/2249406">Data Storage: NoSQL Toasters and a Cloud of Kitchen Sinks</a></strong>
            <em>by <a href="https://twitter.com/caseyrosenthal">Casey Rosenthal</a></em>
            <div class="links">
              <a class="video" href="http://www.justin.tv/confreaks/c/2249406">Video</a>
              <a class="slides disabled" href="#" title="Slides Not Available">Slides</a>
            </div>
          </li>
          <li>
            <strong><a href="http://www.justin.tv/confreaks/c/2249533">Pry — The Good Parts!</a></strong>
            <em>by <a href="https://twitter.com/conradirwin">Conrad Irwin</a></em>
            <div class="links">
              <a class="video" href="http://www.justin.tv/confreaks/c/2249533">Video</a>
              <a class="slides" href="https://speakerdeck.com/conradirwin/pry-the-good-parts">Slides</a>
            </div>
          </li>
          <li>
            <strong><a href="http://www.justin.tv/confreaks/c/2249617">Create More Value Than You Capture</a></strong>
            <em>by <a href="https://twitter.com/duncan">James Duncan Davidson</a></em>
            <div class="links">
              <a class="video" href="http://www.justin.tv/confreaks/c/2249617">Video</a>
              <a class="slides disabled" href="#" title="Slides Not Available">Slides</a>
            </div>
          </li>
          <li>
            <strong><a href="http://www.justin.tv/confreaks/c/2250072">Using Elasticsearch with Rails Apps</a></strong>
            <em>by <a href="https://github.com/briangug">Brian Gugliemetti</a></em>
            <div class="links">
              <a class="video" href="http://www.justin.tv/confreaks/c/2250072">Video</a>
              <a class="slides" href="https://speakerdeck.com/briangug/using-elasticsearch-with-rails-applications">Slides</a>
            </div>
          </li>
          <li>
            <strong><a href="http://www.justin.tv/confreaks/c/2250111">Creating Mountable Engines</a></strong>
            <em>by <a href="https://twitter.com/peakpg">Patrick Peak</a></em>
            <div class="links">
              <a class="video" href="http://www.justin.tv/confreaks/c/2250111">Video</a>
              <a class="slides" href="https://speakerdeck.com/peakpg/creating-mountable-engines">Slides</a>
            </div>
          </li>
          <li>
            <strong><a href="http://www.justin.tv/confreaks/c/2250150">DevOps for the Rubyist Soul</a></strong>
            <em>by <a href="https://twitter.com/jtdowney">John Downey</a></em>
            <div class="links">
              <a class="video" href="http://www.justin.tv/confreaks/c/2250150">Video</a>
              <a class="slides" href="https://speakerdeck.com/jtdowney/devops-for-the-rubyist-soul-at-railsconf-2013">Slides</a>
            </div>
          </li>
          <li>
            <strong><a href="http://www.justin.tv/confreaks/c/2250172">Keeping the lights on: Application monitoring with Sensu and BatsD</a></strong>
            <em>by <a href="https://twitter.com/obrie">Aaron Pfeifer</a></em>
            <div class="links">
              <a class="video" href="http://www.justin.tv/confreaks/c/2250172">Video</a>
              <a class="slides" href="https://docs.google.com/presentation/d/1yPASvOdFbFmU6bcwsIEYjN0Yub04ZsUrE-UyHPd72QM/edit">Slides</a>
            </div>
          </li>
          <li>
            <strong><a href="http://www.justin.tv/confreaks/c/2250226"><em>Lighting Talk: </em>OpenHack</a></strong>
            <em>by <a href="https://twitter.com/qrush">Nick Quaranto</a></em>
            <div class="links">
              <a class="video" href="http://www.justin.tv/confreaks/c/2250226">Video</a>
              <a class="slides disabled" href="#" title="Slides Not Available">Slides</a>
            </div>
          </li>
          <li>
            <strong><a href="http://www.justin.tv/confreaks/c/2250246"><em>Lighting Talk: </em>Deploy your own Heroku with Cloud Foundry</a></strong>
            <em>by <a href="https://twitter.com/drnic">Nic Williams</a></em>
            <div class="links">
              <a class="video" href="http://www.justin.tv/confreaks/c/2250246">Video</a>
              <a class="slides" href="http://www.slideshare.net/BijanEghtesadi/build-your-own-heroku-with-cloud-foundry">Slides</a>
            </div>
          </li>
          <li>
            <strong><a href="http://www.justin.tv/confreaks/c/2250257"><em>Lighting Talk: </em>Technical Intimidation</a></strong>
            <em>by <a href="https://twitter.com/the_chrismo">Chris Morris</a></em>
            <div class="links">
              <a class="video" href="http://www.justin.tv/confreaks/c/2250257">Video</a>
              <a class="slides disabled" href="#" title="Slides Not Available">Slides</a>
            </div>
          </li>
          <li>
            <strong><a href="http://www.justin.tv/confreaks/c/2250268"><em>Lighting Talk: </em>Purposeful Code</a></strong>
            <em>by <a href="https://twitter.com/jmccartie">Jon McCartie</a></em>
            <div class="links">
              <a class="video" href="http://www.justin.tv/confreaks/c/2250268">Video</a>
              <a class="slides" href="https://speakerdeck.com/jmccartie/purposeful-code">Slides</a>
            </div>
          </li>
          <li>
            <strong><a href="http://www.justin.tv/confreaks/c/2250278"><em>Lighting Talk: </em>Securing Your App: Three Simple Steps</a></strong>
            <em>by <a href="https://twitter.com/brynary">Bryan Helmkamp</a></em>
            <div class="links">
              <a class="video" href="http://www.justin.tv/confreaks/c/2250278">Video</a>
              <a class="slides disabled" href="#" title="Slides Not Available">Slides</a>
            </div>
          </li>
          <li>
            <strong><a href="http://www.justin.tv/confreaks/c/2250287"><em>Lighting Talk: </em>Mobile Testing with Robots</a></strong>
            <em>by <a href="https://twitter.com/senthilnayagam">Senthil Nayagam</a></em>
            <div class="links">
              <a class="video" href="http://www.justin.tv/confreaks/c/2250287">Video</a>
              <a class="slides disabled" href="#" title="Slides Not Available">Slides</a>
            </div>
          </li>
          <li>
            <strong><a href="http://www.justin.tv/confreaks/c/2250301"><em>Lighting Talk: </em>Cloning the Seattle Ruby Brigade</a></strong>
            <em>by <a href="https://twitter.com/MilesForrest">Miles Forrest</a></em>
            <div class="links">
              <a class="video" href="http://www.justin.tv/confreaks/c/2250301">Video</a>
              <a class="slides disabled" href="#" title="Slides Not Available">Slides</a>
            </div>
          </li>
          <li>
            <strong><a href="http://www.justin.tv/confreaks/c/2250319"><em>Lighting Talk: </em>Teaching an old dog new tricks</a></strong>
            <em>by <a href="https://twitter.com/mootpointer">Andrew Harvey</a></em>
            <div class="links">
              <a class="video" href="http://www.justin.tv/confreaks/c/2250319">Video</a>
              <a class="slides disabled" href="#" title="Slides Not Available">Slides</a>
            </div>
          </li>
          <li>
            <strong><a href="http://www.justin.tv/confreaks/c/2250330"><em>Lighting Talk: </em>MetricFu is back!</a></strong>
            <em>by <a href="https://twitter.com/hazula">Benjamin Fleischer</a></em>
            <div class="links">
              <a class="video" href="http://www.justin.tv/confreaks/c/2250330">Video</a>
              <a class="slides disabled" href="#" title="Slides Not Available">Slides</a>
            </div>
          </li>
          <li>
            <strong><a href="http://www.justin.tv/confreaks/c/2250340"><em>Lighting Talk: </em>"You're doing it wrong!"</a></strong>
            <em>by <a href="https://twitter.com/AdamCuppy">Adam Cuppy</a></em>
            <div class="links">
              <a class="video" href="http://www.justin.tv/confreaks/c/2250340">Video</a>
              <a class="slides disabled" href="#" title="Slides Not Available">Slides</a>
            </div>
          </li>
          <li>
            <strong><a href="http://www.justin.tv/confreaks/c/2250350"><em>Lighting Talk: </em>MagmaConf: Great Things Happen in Mexico</a></strong>
            <em>by <a href="https://twitter.com/hecbuma">Hector Bustillos</a></em>
            <div class="links">
              <a class="video" href="http://www.justin.tv/confreaks/c/2250350">Video</a>
              <a class="slides disabled" href="#" title="Slides Not Available">Slides</a>
            </div>
          </li>
          <li>
            <strong><a href="http://www.justin.tv/confreaks/c/2250355"><em>Lighting Talk: </em>Logic Programming</a></strong>
            <em>by <a href="https://twitter.com/Mario_Chavez">Mario Chávez</a></em>
            <div class="links">
              <a class="video" href="http://www.justin.tv/confreaks/c/2250355">Video</a>
              <a class="slides disabled" href="#" title="Slides Not Available">Slides</a>
            </div>
          </li>
          <li>
            <strong><a href="http://www.justin.tv/confreaks/c/2250362"><em>Lighting Talk: </em>Guard your forms with class, or any other selector: guards.js</a></strong>
            <em>by <a href="https://twitter.com/smellsblue">Mike Virata-Stone</a></em>
            <div class="links">
              <a class="video" href="http://www.justin.tv/confreaks/c/2250362">Video</a>
              <a class="slides disabled" href="#" title="Slides Not Available">Slides</a>
            </div>
          </li>
          <li>
            <strong><a href="http://www.justin.tv/confreaks/c/2250400"><em>Lighting Talk: </em>Pry Power: Test Speediness Edition</a></strong>
            <em>by <a href="https://github.com/rking">Ryan King</a></em>
            <div class="links">
              <a class="video" href="http://www.justin.tv/confreaks/c/2250400">Video</a>
              <a class="slides disabled" href="#" title="Slides Not Available">Slides</a>
            </div>
          </li>
          <li>
            <strong><a href="http://www.justin.tv/confreaks/c/2250424"><em>Lighting Talk: </em>Giant Hamster Touching - Test Native Mobile Apps with Capybara</a></strong>
            <em>by <a href="https://twitter.com/dylanlacey">Dylan Lacey</a></em>
            <div class="links">
              <a class="video" href="http://www.justin.tv/confreaks/c/2250424">Video</a>
              <a class="slides disabled" href="#" title="Slides Not Available">Slides</a>
            </div>
          </li>
          <li>
            <strong><a href="http://www.justin.tv/confreaks/c/2250432"><em>Lighting Talk: </em>Programming Apprentices</a></strong>
            <em>by <a href="https://twitter.com/thegrubbsian">JC Grubbs</a></em>
            <div class="links">
              <a class="video" href="http://www.justin.tv/confreaks/c/2250432">Video</a>
              <a class="slides disabled" href="#" title="Slides Not Available">Slides</a>
            </div>
          </li>
          <li>
            <strong><a href="http://www.justin.tv/confreaks/c/2250440"><em>Lighting Talk: </em>Smart User Adoption Analytics</a></strong>
            <em>by <a href="https://twitter.com/bwilken">Brad Wilkening</a></em>
            <div class="links">
              <a class="video" href="http://www.justin.tv/confreaks/c/2250440">Video</a>
              <a class="slides disabled" href="#" title="Slides Not Available">Slides</a>
            </div>
          </li>
          <li>
            <strong><a href="http://www.justin.tv/confreaks/c/2250458"><em>Lighting Talk: </em>Gemlou.pe - Easymarklet and SimpleDB</a></strong>
            <em>by <a href="https://twitter.com/jagthedrummer">Jeremy Green</a></em>
            <div class="links">
              <a class="video" href="http://www.justin.tv/confreaks/c/2250458">Video</a>
              <a class="slides disabled" href="#" title="Slides Not Available">Slides</a>
            </div>
          </li>
          <li>
            <strong><a href="http://www.justin.tv/confreaks/c/2250467"><em>Lighting Talk: </em>Artoo: Ruby On Robots</a></strong>
            <em>by <a href="https://twitter.com/deadprogram">Ron Evans</a></em>
            <div class="links">
              <a class="video" href="http://www.justin.tv/confreaks/c/2250467">Video</a>
              <a class="slides disabled" href="#" title="Slides Not Available">Slides</a>
            </div>
          </li>
          <li>
            <strong><a href="http://www.justin.tv/confreaks/c/2250471"><em>Lighting Talk: </em>Redis Key Management</a></strong>
            <em>by <a href="https://twitter.com/ecoffey">Eoin Coffey</a></em>
            <div class="links">
              <a class="video" href="http://www.justin.tv/confreaks/c/2250471">Video</a>
              <a class="slides disabled" href="#" title="Slides Not Available">Slides</a>
            </div>
          </li>
          <li>
            <strong><a href="http://www.justin.tv/confreaks/c/2250484"><em>Lighting Talk: </em>Two-Step Deployment for Rails</a></strong>
            <em>by <a href="https://twitter.com/arogos">Doug Smith</a></em>
            <div class="links">
              <a class="video" href="http://www.justin.tv/confreaks/c/2250484">Video</a>
              <a class="slides disabled" href="#" title="Slides Not Available">Slides</a>
            </div>
          </li>
          <li>
            <strong><a href="http://www.justin.tv/confreaks/c/2250496"><em>Lighting Talk: </em>Huginn: build agents that monitor and act on your behalf</a></strong>
            <em>by <a href="https://twitter.com/tectonic">Andrew Cantino</a></em>
            <div class="links">
              <a class="video" href="http://www.justin.tv/confreaks/c/2250496">Video</a>
              <a class="slides disabled" href="#" title="Slides Not Available">Slides</a>
            </div>
          </li>
          <li>
            <strong><a href="http://www.justin.tv/confreaks/c/2250514"><em>Lighting Talk: </em>Internationalization of Rails with WYSIWYG</a></strong>
            <em>by <a href="https://twitter.com/tanin">Tanin Na Nakorn</a></em>
            <div class="links">
              <a class="video" href="http://www.justin.tv/confreaks/c/2250514">Video</a>
              <a class="slides disabled" href="#" title="Slides Not Available">Slides</a>
            </div>
          </li>
          <li>
            <strong><a href="http://www.justin.tv/confreaks/c/2250518"><em>Lighting Talk: </em>Gourmet Service Objects</a></strong>
            <em>by <a href="https://twitter.com/pcreux">Philippe Creux</a></em>
            <div class="links">
              <a class="video" href="http://www.justin.tv/confreaks/c/2250518">Video</a>
              <a class="slides disabled" href="#" title="Slides Not Available">Slides</a>
            </div>
          </li>
          <li>
            <strong><a href="http://www.justin.tv/confreaks/c/2250524"><em>Lighting Talk: </em>Bldr - A minimalist JSON templating library</a></strong>
            <em>by <a href="https://twitter.com/ajsharp">Alex Sharp</a></em>
            <div class="links">
              <a class="video" href="http://www.justin.tv/confreaks/c/2250524">Video</a>
              <a class="slides disabled" href="#" title="Slides Not Available">Slides</a>
            </div>
          </li>
          <li>
            <strong><a href="http://www.justin.tv/confreaks/c/2250536"><em>Lighting Talk: </em>Hot code loading with JRuby on the JVM</a></strong>
            <em>by <a href="https://twitter.com/bohford">Beau Harrington</a></em>
            <div class="links">
              <a class="video" href="http://www.justin.tv/confreaks/c/2250536">Video</a>
              <a class="slides disabled" href="#" title="Slides Not Available">Slides</a>
            </div>
          </li>
          <li>
            <strong><a href="http://www.justin.tv/confreaks/c/2250555"><em>Lighting Talk: </em>Embrace a Child's Curiosity</a></strong>
            <em>by <a href="https://twitter.com/mattdbridges">Matt Bridges</a></em>
            <div class="links">
              <a class="video" href="http://www.justin.tv/confreaks/c/2250555">Video</a>
              <a class="slides disabled" href="#" title="Slides Not Available">Slides</a>
            </div>
          </li>
          <li>
            <strong><a href="http://www.justin.tv/confreaks/c/2250562"><em>Lighting Talk: </em>People as Apps</a></strong>
            <em>by <a href="https://twitter.com/meesterfox">Russell Jennings</a></em>
            <div class="links">
              <a class="video" href="http://www.justin.tv/confreaks/c/2250562">Video</a>
              <a class="slides disabled" href="#" title="Slides Not Available">Slides</a>
            </div>
          </li>
          <li>
            <strong><a href="http://www.justin.tv/confreaks/c/2250576"><em>Lighting Talk: </em>Hacking in the Sky!!</a></strong>
            <em>by <a href="https://twitter.com/yoshiori">Yoshiori Shoji</a></em>
            <div class="links">
              <a class="video" href="http://www.justin.tv/confreaks/c/2250576">Video</a>
              <a class="slides disabled" href="#" title="Slides Not Available">Slides</a>
            </div>
          </li>
          <li>
            <strong><a href="http://www.justin.tv/confreaks/c/2250595"><em>Lighting Talk: </em>Introducing acts_as, a gem for composition and delegation of active_record models</a></strong>
            <em>by <a href="https://twitter.com/wnadeau">Winfred Nadeau</a></em>
            <div class="links">
              <a class="video" href="http://www.justin.tv/confreaks/c/2250595">Video</a>
              <a class="slides disabled" href="#" title="Slides Not Available">Slides</a>
            </div>
          </li>
          <li>
            <strong><a href="http://www.justin.tv/confreaks/c/2250602"><em>Lighting Talk: </em>Conferences: The Other Half</a></strong>
            <em>by <a href="https://twitter.com/dabit">David Padilla</a></em>
            <div class="links">
              <a class="video" href="http://www.justin.tv/confreaks/c/2250602">Video</a>
              <a class="slides disabled" href="#" title="Slides Not Available">Slides</a>
            </div>
          </li>
          <li>
            <strong><a href="http://www.justin.tv/confreaks/c/2250611"><em>Lighting Talk: </em>I published this gem 15 minutes ago</a></strong>
            <em>by <a href="https://twitter.com/grscholz">Gabe Scholz</a></em>
            <div class="links">
              <a class="video" href="http://www.justin.tv/confreaks/c/2250611">Video</a>
              <a class="slides disabled" href="#" title="Slides Not Available">Slides</a>
            </div>
          </li>
          <li>
            <strong><a href="http://www.justin.tv/confreaks/c/2250625">How to Talk to Developers</a></strong>
            <em>by <a href="https://twitter.com/r00k">Ben Orenstein</a></em>
            <div class="links">
              <a class="video" href="http://www.justin.tv/confreaks/c/2250625">Video</a>
              <a class="slides disabled" href="#" title="Slides Not Available">Slides</a>
            </div>
          </li>
          <li>
            <strong><a href="http://www.justin.tv/confreaks/c/2250637">Dissecting Ruby with Ruby</a></strong>
            <em>by <a href="https://twitter.com/schneems">Richard Schneeman</a></em>
            <div class="links">
              <a class="video" href="http://www.justin.tv/confreaks/c/2250637">Video</a>
              <a class="slides" href="https://speakerdeck.com/schneems/dissecting-ruby-with-ruby">Slides</a>
            </div>
          </li>
          <li>
            <strong><a href="http://www.justin.tv/confreaks/c/2246813">Keynote: A♭</a></strong>
            <em>by <a href="https://twitter.com/tenderlove">Aaron Patterson</a></em>
            <div class="links">
              <a class="video" href="http://www.justin.tv/confreaks/c/2246813">Video</a>
              <a class="slides disabled" href="#" title="Slides Not Available">Slides</a>
            </div>
          </li>
        </ul>
      </article>
    </section>
  </body>
</html>
